
div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.1rem;
    height: 20dvh;
    aspect-ratio: 1 / 1;
    border-radius: 4px;
    box-shadow: 0px 5px 15px -2px rgba(0,0,0,0.35);
}

p {
    font-size: 2.5rem;
}

.over-hundred {
    background-color: #043758;
    p {
        color: rgb(255, 255, 255);
    }
}

.not-quiet-hundred {
    background-color: #079CFF;
    p {
        color: rgb(255, 255, 255);
    }
}

.above-fifty {
    background-color: #C62264;
    p {
        color: white;
    }
}

.middle {
    background-color: #e9692e;
    p {
        color: rgb(31, 31, 31);
    }
}

.teens {
    background-color: #FBAE3A;
    p {
        color: rgb(31, 31, 31);
    }
}

.singles {
    background-color: #2F6E6A;
    p {
        color: white;
    }
}