<div class="grid-container-meta">
    <div class="score-overview">
        <p class="scoreboard time">Time: {{timePassed}} s</p>
    <p class="scoreboard score">{{score}} / 9</p>
</div>
<div class="grid-container-meta">
    <div class="grid" cdkDropList (cdkDropListDropped)="drop($event)">
        <div *ngFor="let number of randomNumbers; let i = index" cdkDrag>
            <app-tile [value]="number"></app-tile>
        </div>
    </div>
</div>
<div class="button-row">
    <app-button-a [buttonText]="'Restart'" (click)="resetGame()"></app-button-a>
    <app-button-a [buttonText]="'Home'" [secondaryButton]="true" (click)="navigate.emit('home')"></app-button-a>     
</div>
</div>