@import "../../../assets/colors.scss";

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: $background-color;
}

[cdkDrag] {
    cursor: move;
    position: relative;
}